<!DOCTYPE html>
<html>
<head>
    <title>Verify OTP</title>
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <form action="http://localhost:9090/user/api/verify" method="post">

        <table>
            <tr>
                <td><label>OTP</label></td>
                <td>
                    <input type="text" name="otp" required />
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <button type="submit">Verify OTP</button>
                </td>
            </tr>
        </table>

    </form>
</body>
</html>